<!Doctype html>
<html>
<head>
	<title>InstaHack | Download Photos</title>
	<meta name="description" content="Instagram Online Photo Downloader. Simple way to download Instagram pictures online from your browser.">
    <meta name="keywords" content="Download Instagram Photos online, download Instagram pictures, save instagram pictures from browser">
		 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body id="particles-js">
	<div class="container">
		<div class="box z-depth-5">
		<div class="heading center">
			<h3>InstaHack</h3>
			<span class="tagline">Download Instagram Photos (Full Resolution)</span>
		</div>
		<div class="steps">
			<em><p>Steps:</p>
			<ol>
				<li>Copy post link from Instagram, paste it below and press 'download'.</li>
				<li>On the next page, Right click and then save it.</li>
			</ol></em>
		</div>

		<form action="" method="POST" id="manish">
			<div class="input-field">
					<i class="material-icons prefix">insert_link</i>
          <input type="url" id="input" name="iurl" autocomplete="off" required >
          <label for="iurl">Enter URL here</label>
      </div>
			<input type="submit" value="Download" class="btn btn-large btn-download">
		</form>
		<div class="creators center">
			<p>Made with <span style="color: crimson;">&hearts;</span> by <a href="https://twitter.com/introvertmac007" target="_blank">@introvertmac007</a>
			<br />
			Contributors: <a href="https://fb.com/sanjeevsharmaxx" target="_blank">@thesanjeevsharma</a></p>
		</div>
	</div>
	</div>
	<script>
	    mixpanel.track_forms("#manish", "Created Account");
	</script>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
		<script src="js/particles.js"></script>
		<script>
		particlesJS.load('particles-js', 'assets/particles.json', function() {
		console.log('callback - particles.js config loaded');
		});
		</script>
</body>
</html>
